<Jumbo>
  <h2>
    About Super Rentals
  </h2>
  <p>
    The Super Rentals website is a delightful project created to explore Ember Octane Edition.
  </p>
  <p>
    Built as per the
    <a href="https://guides.emberjs.com/release/tutorial/part-1/" target="_blank">
      Ember Tutorial
    </a>
    , at least to start.  Any mistakes, deviations or improments are my fault. :)
  </p>
  <p>
    By building a property rental site, we can simultaneously imagine traveling
    AND building Ember applications.
  </p>
  <LinkTo @route="contact" class="button">
    Contact Us
  </LinkTo>
</Jumbo>